USE [db]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [type], [username], [password], [fullName], [user_role], [phone_number], [email], [is_active], [school_id]) VALUES (2, N'user', N'admin', N'scrypt:32768:8:1$EZWuGbXwZl9tzPLr$dafd6341189f15be3556195fc6f3af608f3a7d5c272ce345937b34ccdade896b70ee0c865e0d60f370257e9977fa2014ec7627bcb67a6b02263ed128600c6cc5', N'sultan', N'admin', N'9898989', N'admin@sasm.com', 1, NULL)

SET IDENTITY_INSERT [dbo].[users] OFF
GO




ALTER TABLE users
ALTER COLUMN fullName NVARCHAR(255) COLLATE Arabic_CI_AS;

SELECT DATABASEPROPERTYEX('db', 'Collation') AS DatabaseCollation;

ALTER DATABASE db COLLATE Arabic_CI_AS;